body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --wwwulbiacid-open-sans-regular-118: "Open Sans";
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --wwwulbiacid-open-sans-regular-118-size: 11.8px;
  --wwwulbiacid-open-sans-regular-112-size: 11.2px;
  --wwwulbiacid-open-sans-bold-15-size: 15px;
  --font-size-xs: 12px;
  --wwwulbiacid-open-sans-bold-14-size: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-3xs: 10px;
  --wwwulbiacid-open-sans-regular-13-size: 13px;

  /* Colors */
  --wwwulbiacid-white: #fff;
  --wwwulbiacid-flamingo: #ea5329;
  --wwwulbiacid-white1: #fefefe;
  --wwwulbiacid-boulder: #767676;
  --wwwulbiacid-black-pearl: #041721;
  --gray-200: #e5e7eb;
  --color-gainsboro-100: #e6e6e6;
  --wwwulbiacid-mercury: #e2e2e2;
  --gray-500: #6b7280;
  --wwwulbiacid-flush-orange: #ff8700;
  --wwwulbiacid-resolution-blue: #00277f;
  --wwwulbiacid-ebony-clay: #262d3d;
  --color-darkslateblue-100: #3359b3;
  --color-darkslateblue-200: #1b2c5a;
  --color-lightgray: #d1d5db;
  --color-chocolate: #cc5400;
  --colors-green: #34c759;
  --color-limegreen-100: rgba(52, 199, 89, 0.1);

  /* Spacing */
  --rounded-lg: 8px;
  --space-200: 8px;
  --space-300: 12px;
  --boundvariablesdata1: 20px;
  --boundvariablesdata2: 8px;
  --boundvariablesdata3: 10px;

  /* Gaps */
  --gap-mini: 15px;
  --gap-mid: 17px;
  --gap-11xs-7: 1.7px;
  --gap-lg: 18px;
  --gap-5xl: 24px;
  --gap-15xl: 34px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-171xl: 190px;
  --padding-76xl: 95px;
  --padding-8xs-5: 4.5px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-3xl: 22px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-10xl: 29px;
  --padding-11xs-5: 1.5px;
  --padding-9xs-5: 3.5px;
  --padding-8xl-5: 27.5px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-31xl: 50px;
  --br-9xs: 4px;

  /* Effects */
  --drop-shadow-300: 0px 4px 4px -1px rgba(12, 12, 13, 0.1),
    0px 4px 4px -1px rgba(12, 12, 13, 0.05);
  --drop-shadow-200: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
  --drop-shadow-100: 0px 1px 4px rgba(12, 12, 13, 0.05);
}
