@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700");
@import url("https://api.fontshare.com/css?f[]=open sans@400,600,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.common-31,
.lowongan-top-left-border,
.lowongan-bottom-right-border {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.common-30,
.lowongan-frame-6,
.lowongan-frame-11 {
  border-style: solid;
  border-color: gainsboro;
}

.common-17,
.lowongan-t-frame,
.lowongan-tt-versi-123beta-mbkm-ulbi {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.common-18,
.lowongan-tt-frame-136frame-8tframe-136frame,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7,
.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8,
.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.common-19,
.lowongan-t-diposting-2hari-yang-lalu-frame,
.lowongan-t-images-1tglobal-finance-accounting-internship-ttsolar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.common-20,
.lowongan-component,
.lowongan-t-line-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.common-21,
.lowongan-t-frame-102tframe,
.lowongan-t-raihan-nahiar-admin-prodi,
.lowongan-tt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan,
.lowongan-tt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan,
.lowongan-t-global-finance-accounting-internship-ttsolar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat,
.lowongan-tt-solar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.common-22,
.lowongan-t-avvxsejdplsg-8kycc-2lfwocc_wkorqptbjq_udcqwg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w,
.lowongan-t-solar-home-smile-angle-bold-beranda,
.lowongan-t-solar-user-hands-bold-kandidat,
.lowongan-t-solar-medal-star-bold-penilaian,
.lowongan-t-solar-settings-bold-pengaturan,
.lowongan-t-solar-map-point-bold-bandung-jawa-barat,
.lowongan-t-solar-user-bold-duotone-12kandidat,
.lowongan-frame-17 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-23,
.lowongan-frame-4,
.lowongan-frame-7 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.common-24,
.lowongan-lowongan,
.lowongan-t-frame-61frame,
.lowongan-t-frame-61frame-1,
.lowongan-t-frame-61frame-2,
.lowongan-t-frame-61frame-3,
.lowongan-t-frame-61frame-4,
.lowongan-t-frame-61frame-5,
.lowongan-t-frame-61frame-6,
.lowongan-t-frame-61frame-7,
.lowongan-t-frame-61frame-8 {
  display: flex;
  flex-direction: column;
}

.common-25,
.lowongan-tt-frame-102tframe-132tframe,
.lowongan-t-13traihan-nahiar-admin-prodi,
.lowongan-tt-solar-home-smile-angle-bold-beranda {
  display: flex;
  align-items: flex-end;
}

.common-26,
.lowongan-ttt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan,
.lowongan-t-solar-documents-bold-laporan,
.lowongan-frame-1,
.lowongan-ttt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan,
.lowongan-t-solar-question-square-bold-bantuan,
.lowongan-t-frame-2,
.lowongan-t-solar-buildings-bold-pt-pos-indonesia {
  display: flex;
  align-items: center;
}

.common-27,
.lowongan-wrapper,
.lowongan-wrapper-1 {
  display: flex;
  align-items: flex-start;
}

.common-28,
.lowongan-frame-9,
.lowongan-frame-11 {
  flex-direction: column;
  align-items: center;
}

.common-29,
.lowongan-frame-3,
.lowongan-frame-8,
.lowongan-frame-13,
.lowongan-frame-14,
.lowongan-frame-15,
.lowongan-frame-16,
.lowongan-frame-18,
.lowongan-frame-19,
.lowongan-frame-20,
.lowongan-frame-21,
.lowongan-frame-22,
.lowongan-frame-23,
.lowongan-frame-24,
.lowongan-frame-25,
.lowongan-frame-26,
.lowongan-frame-27,
.lowongan-frame-28,
.lowongan-frame-29,
.lowongan-frame-30 {
  justify-content: center;
  align-items: center;
}

.common-12,
.lowongan-ahmad-damha,
.lowongan-ahmad-damha-1,
.lowongan-ahmad-damha-2,
.lowongan-ahmad-damha-3,
.lowongan-ahmad-damha-4,
.lowongan-ahmad-damha-5,
.lowongan-ahmad-damha-6,
.lowongan-ahmad-damha-7,
.lowongan-ahmad-damha-8 {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.common-13,
.lowongan-tinjau,
.lowongan-tinjau-3 {
  color: white;
  font-weight: 700;
  text-align: center;
}

.common-14,
.lowongan-logout,
.lowongan-tinjau-4,
.lowongan-tinjau-5,
.lowongan-tinjau-6,
.lowongan-tinjau-7,
.lowongan-tinjau-8 {
  color: white;
  font-weight: 700;
}

.common-15,
.lowongan-tinjau-1,
.lowongan-tinjau-2 {
  color: darkgray;
  font-weight: 700;
}

.common-16,
.lowongan-frame,
.lowongan-detail-lowongan,
.lowongan-deskripsi-pekerjaan,
.lowongan-daftar-kandidat {
  font-size: 14px;
  font-weight: 600;
}

.common-1,
.lowongan-frame-9,
.lowongan-frame-11 {
  display: flex;
  width: 100%;
  height: 100%;
}

.common-2,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-1,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-2,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-3,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-4,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-5,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-6,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-7,
.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-8 {
  display: flex;
  width: 496px;
  color: gray;
}

.common-3,
.lowongan-frame,
.lowongan-frame-3,
.lowongan-frame-4,
.lowongan-frame-7,
.lowongan-as-aglobal-finance-accounting-intern-at-eiger-your-mission-is-to-support-our-finance-and-accounting-team-in-various-functions-including-financial-analysis-reporting-and-compliance-you-will-gain-practical-experience-in-managing-financial-data-contributing-to-budgeting-processes-and-ensuring-accurate-financial-records-this-internship-offers-aunique-opportunity-to-develop-your-skills-and-knowledge-in-aglobal-retail-environment-preparing-you-for-asuccessful-career-in-finance-and-accounting-what-you-ll-need-to-success-final-semester-students-or-recently-completed-adegree-in-accounting-or-arelated-field-strong-analytical-skills-with-the-ability-to-interpret-financial-data-someone-who-is-confident-proactive-attitude-enthusiasm-for-learning-and-communicative-in-conveying-something-orally-or-in-writing-work-placement-at-the-head-office-of-kab-bandung-west-java-interest-in-the-retail-industry-and-eiger-sbrand-kompetensi-yang-akan-dikembangkan-administrasi-komunikasi-analisis-data-kerjasama-tim-pengelolaan-waktu-pemahaman-lingkungan-bisnis-problem-solving-analisis-keuangan-keahlian-teknologi-kemampuan-beradaptasi-operasional-kriteria-akademik-mahasiswa-perguruan-tinggi-aktif-minimal-semester-6program-studi-yang-diutamakan-akuntansi-dan-perpajakan-ekonomi,
.lowongan-frame-10,
.lowongan-frame-12 {
  display: flex;
  background-color: white;
}

.common-4,
.lowongan-lowongan-saya,
.lowongan-frame-2,
.lowongan-frame-14,
.lowongan-frame-20,
.lowongan-frame-22,
.lowongan-frame-24,
.lowongan-frame-26,
.lowongan-frame-28,
.lowongan-frame-30 {
  display: flex;
  background-color: midnightblue;
}

.common-5,
.lowongan-frame-8,
.lowongan-frame-15 {
  display: flex;
  background-color: #32cd3219;
}

.common-6,
.lowongan-frame-13,
.lowongan-frame-19,
.lowongan-frame-21,
.lowongan-frame-23,
.lowongan-frame-25,
.lowongan-frame-27,
.lowongan-frame-29 {
  display: flex;
  background-color: #ff8c0019;
}

.common-7,
.lowongan-frame-16,
.lowongan-frame-18 {
  display: flex;
  background-color: gainsboro;
}

.common-8,
.lowongan-component,
.lowongan-images-1,
.lowongan-images-2,
.lowongan-images-3,
.lowongan-images-4,
.lowongan-images-5,
.lowongan-images-6,
.lowongan-images-7,
.lowongan-images-8,
.lowongan-images-9 {
  width: 48px;
  height: 48px;
}

.common-9,
.lowongan-status-indicator,
.lowongan-ellipse,
.lowongan-ellipse-1,
.lowongan-ellipse-2,
.lowongan-ellipse-3,
.lowongan-ellipse-4,
.lowongan-ellipse-5,
.lowongan-ellipse-6,
.lowongan-ellipse-7,
.lowongan-ellipse-8,
.lowongan-ellipse-9 {
  width: 8px;
  height: 8px;
}

.common-10,
.lowongan-solar-home-smile-angle-bold,
.lowongan-solar-case-round-bold,
.lowongan-solar-user-hands-bold,
.lowongan-solar-medal-star-bold,
.lowongan-solar-documents-bold,
.lowongan-solar-logout-3bold,
.lowongan-solar-settings-bold,
.lowongan-solar-question-square-bold,
.lowongan-solar-bell-bold {
  width: 24px;
  height: 24px;
}

.common-11,
.lowongan-solar-buildings-bold,
.lowongan-solar-map-point-bold {
  width: 12px;
  height: 12px;
}

.lowongan-lowongan {
  background-color: whitesmoke;
  padding-bottom: 1px;
  width: 100%;
}

.lowongan-tt-frame-102tframe-132tframe {
  flex-grow: 1;
  justify-content: center;
  font-family: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-transform: capitalize;
}

.lowongan-t-frame-102tframe {
  flex-grow: 1;
  align-self: stretch;
  z-index: 0;
}

.lowongan-frame {
  align-items: flex-start;
  row-gap: 20px;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 104px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  z-index: 2;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  color: gray;
}

.lowongan-t-avvxsejdplsg-8kycc-2lfwocc_wkorqptbjq_udcqwg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w {
  align-self: stretch;
}

.lowongan-a-vv-xs-ej-dp-lsg-8kyc-c2l-fwo-cc_w-ko-rq-ptb-jq_u-dcq-wg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w {
  background-image: url(public/assets/a-vv-xs-ej-dp-lsg-8kyc-c2l-fwo-cc_w-ko-rq-ptb-jq_u-dcq-wg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w.png);
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 55px;
  flex-shrink: 0;
}

.lowongan-t-line {
  align-self: stretch;
  max-width: 268px;
  padding-top: 3px;
}

.lowongan-line {
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-13traihan-nahiar-admin-prodi {
  column-gap: 10px;
  padding-top: 4px;
}

.lowongan-component {
  align-items: flex-end;
  background-image: url(public/assets/component.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 3px;
  padding-left: 37px;
  padding-right: 3px;
  padding-top: 37px;
  flex-shrink: 0;
}

.lowongan-status-indicator {
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  background-color: limegreen;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  box-shadow: inset 2px 2px 4px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  flex-shrink: 0;
}

.lowongan-top-left-border {
  box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 1);
  top: 0px;
  left: 0px;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  border-bottom-left-radius: 99px;
}

.lowongan-bottom-right-border {
  box-shadow: -2px -2px 0 0 rgba(255, 255, 255, 1);
  left: -2px;
  top: -2px;
  border-bottom-right-radius: 99px;
}

.lowongan-t-raihan-nahiar-admin-prodi {
  row-gap: 4px;
  align-self: stretch;
}

.lowongan-raihan-nahiar {
  font-weight: 700;
}

.lowongan-admin-prodi {
  font-size: 12px;
}

.lowongan-tt-solar-home-smile-angle-bold-beranda {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
}

.lowongan-t-solar-home-smile-angle-bold-beranda {
  column-gap: 8px;
}

.lowongan-solar-home-smile-angle-bold {
  flex-shrink: 0;
}

.lowongan-beranda {
  font-weight: 700;
}

.lowongan-lowongan-saya {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  column-gap: 8px;
  align-self: stretch;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 158px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-solar-case-round-bold {
  flex-shrink: 0;
}

.lowongan-lowongan-1 {
  color: white;
}

.lowongan-ttt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan {
  padding-left: 8px;
  padding-right: 8px;
}

.lowongan-tt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan {
  row-gap: 28px;
}

.lowongan-t-solar-user-hands-bold-kandidat {
  column-gap: 8px;
  padding-right: 2px;
}

.lowongan-solar-user-hands-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-medal-star-bold-penilaian {
  column-gap: 8px;
}

.lowongan-solar-medal-star-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-documents-bold-laporan {
  column-gap: 8px;
}

.lowongan-solar-documents-bold {
  flex-shrink: 0;
}

.lowongan-t-frame {
  padding-top: 296px;
}

.lowongan-frame-1 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: red;
  column-gap: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 179px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
}

.lowongan-solar-logout-3bold {
  flex-shrink: 0;
}

.lowongan-ttt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan {
  padding-left: 8px;
  padding-right: 8px;
}

.lowongan-tt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan {
  row-gap: 28px;
}

.lowongan-t-solar-settings-bold-pengaturan {
  column-gap: 8px;
}

.lowongan-solar-settings-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-question-square-bold-bantuan {
  column-gap: 8px;
}

.lowongan-solar-question-square-bold {
  flex-shrink: 0;
}

.lowongan-t-line-1 {
  align-self: stretch;
  max-width: 268px;
  padding-top: 11px;
}

.lowongan-line-1 {
  height: 1px;
  flex-shrink: 0;
}

.lowongan-tt-versi-123beta-mbkm-ulbi {
  align-self: stretch;
  padding-top: 12px;
}

.lowongan-versi-123beta-mbkm-ulbi {
  text-align: center;
  padding-right: 14px;
}

.lowongan-t-frame-1 {
  align-self: stretch;
  height: 0px;
  padding-left: 4px;
  z-index: 1;
  flex-shrink: 0;
}

.lowongan-frame-2 {
  border-style: solid;
  border-color: orangered;
  border-bottom-width: 8px;
  align-items: center;
  margin-top: -1080px;
  height: 96px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 28px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.lowongan-frame-3 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  column-gap: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-solar-bell-bold {
  flex-shrink: 0;
}

.lowongan-notifikasi {
  font-weight: 700;
}

.lowongan-solar-alt-arrow-down-bold {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.lowongan-t-frame-2 {
  width: 0px;
  flex-shrink: 0;
}

.lowongan-frame-4 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: -1580px;
  row-gap: 23px;
  width: 1556px;
  max-width: 1556px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.1)),
    drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.05));
  flex-shrink: 0;
}

.lowongan-kurasi-kandidat {
  align-self: stretch;
  font-weight: 700;
}

.lowongan-line-2 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-tt-frame-136frame-8tframe-136frame {
  row-gap: 24px;
  column-gap: 24px;
}

.lowongan-frame-5 {
  background-color: white;
  align-self: stretch;
  max-width: 742px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.lowongan-frame-6 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.1)),
    drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.05));
}

.lowongan-frame-7 {
  border-style: solid;
  border-color: lightgray;
  border-bottom-width: 1px;
  row-gap: 8px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-diposting-2hari-yang-lalu {
  width: 656px;
  font-size: 10px;
  color: slategray;
  flex-shrink: 0;
}

.lowongan-frame-8 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse {
  flex-shrink: 0;
}

.lowongan-aktif {
  color: limegreen;
}

.lowongan-t-images-1tglobal-finance-accounting-internship-ttsolar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images {
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.lowongan-t-global-finance-accounting-internship-ttsolar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
  row-gap: 9.5px;
}

.lowongan-global-finance-accounting-internship {
  align-self: stretch;
  font-size: 24px;
  font-weight: 700;
}

.lowongan-tt-solar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
  row-gap: 8px;
  color: slategray;
}

.lowongan-t-solar-buildings-bold-pt-pos-indonesia {
  column-gap: 4px;
}

.lowongan-solar-buildings-bold {
  flex-shrink: 0;
}

.lowongan-pt-pos-indonesia {
  line-height: 1;
}

.lowongan-t-solar-map-point-bold-bandung-jawa-barat {
  column-gap: 4px;
}

.lowongan-solar-map-point-bold {
  flex-shrink: 0;
}

.lowongan-wrapper {
  align-self: stretch;
  height: 584px;
  max-width: 742px;
  flex-shrink: 0;
}

.lowongan-frame-9 {
  overflow: clip;
  background-color: white;
  row-gap: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  flex-shrink: 0;
}

.lowongan-deskripsi-pekerjaan {
  align-self: stretch;
}

.lowongan-as-aglobal-finance-accounting-intern-at-eiger-your-mission-is-to-support-our-finance-and-accounting-team-in-various-functions-including-financial-analysis-reporting-and-compliance-you-will-gain-practical-experience-in-managing-financial-data-contributing-to-budgeting-processes-and-ensuring-accurate-financial-records-this-internship-offers-aunique-opportunity-to-develop-your-skills-and-knowledge-in-aglobal-retail-environment-preparing-you-for-asuccessful-career-in-finance-and-accounting-what-you-ll-need-to-success-final-semester-students-or-recently-completed-adegree-in-accounting-or-arelated-field-strong-analytical-skills-with-the-ability-to-interpret-financial-data-someone-who-is-confident-proactive-attitude-enthusiasm-for-learning-and-communicative-in-conveying-something-orally-or-in-writing-work-placement-at-the-head-office-of-kab-bandung-west-java-interest-in-the-retail-industry-and-eiger-sbrand-kompetensi-yang-akan-dikembangkan-administrasi-komunikasi-analisis-data-kerjasama-tim-pengelolaan-waktu-pemahaman-lingkungan-bisnis-problem-solving-analisis-keuangan-keahlian-teknologi-kemampuan-beradaptasi-operasional-kriteria-akademik-mahasiswa-perguruan-tinggi-aktif-minimal-semester-6program-studi-yang-diutamakan-akuntansi-dan-perpajakan-ekonomi {
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 710px;
  height: 592px;
  flex-shrink: 0;
}

.lowongan-spacer {
  height: 18px;
}

.lowongan-spacer-1 {
  height: 18px;
}

.lowongan-list {
  list-style-type: decimal;
}

.lowongan-list-1 {
  list-style-type: disc;
}

.lowongan-spacer-2 {
  height: 18px;
}

.lowongan-list-2 {
  list-style-type: decimal;
}

.lowongan-list-3 {
  list-style-type: disc;
}

.lowongan-t-frame-136frame-1 {
  width: 742px;
  flex-shrink: 0;
}

.lowongan-frame-10 {
  align-items: center;
  row-gap: 8px;
  column-gap: 8px;
  align-self: stretch;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lowongan-t-solar-user-bold-duotone-12kandidat {
  column-gap: 8px;
}

.lowongan-solar-user-bold-duotone {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.lowongan-kandidat-1 {
  color: slategray;
  font-weight: 700;
}

.lowongan-wrapper-1 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.1)),
    drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.05));
}

.lowongan-frame-11 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: clip;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-shrink: 0;
}

.lowongan-frame-12 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: flex-end;
  row-gap: 7px;
  flex-direction: column;
  width: 742px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-1 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame {
  row-gap: 17px;
}

.lowongan-frame-13 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-1 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau {
  color: darkorange;
}

.lowongan-frame-14 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
}

.lowongan-tinjau {
  text-transform: uppercase;
}

.lowongan-line-3 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-2 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-1 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-1 {
  row-gap: 17px;
}

.lowongan-frame-15 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-2 {
  flex-shrink: 0;
}

.lowongan-diterima {
  color: limegreen;
}

.lowongan-frame-16 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-1 {
  text-transform: uppercase;
}

.lowongan-line-4 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-3 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-2 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-2 {
  row-gap: 17px;
}

.lowongan-frame-17 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ff000019;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 49px;
  padding-right: 49px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-3 {
  flex-shrink: 0;
}

.lowongan-ditolak {
  color: red;
}

.lowongan-frame-18 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
}

.lowongan-tinjau-2 {
  text-align: center;
  text-transform: uppercase;
}

.lowongan-line-5 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-4 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-3 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-3 {
  row-gap: 17px;
}

.lowongan-frame-19 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-4 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-1 {
  color: darkorange;
}

.lowongan-frame-20 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
}

.lowongan-tinjau-3 {
  text-transform: uppercase;
}

.lowongan-line-6 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-5 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-4 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-4 {
  row-gap: 17px;
}

.lowongan-frame-21 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-5 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-2 {
  color: darkorange;
}

.lowongan-frame-22 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-4 {
  text-transform: uppercase;
}

.lowongan-line-7 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-6 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-5 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-5 {
  row-gap: 17px;
}

.lowongan-frame-23 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-6 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-3 {
  color: darkorange;
}

.lowongan-frame-24 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-5 {
  text-transform: uppercase;
}

.lowongan-line-8 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-7 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-6 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-6 {
  row-gap: 17px;
}

.lowongan-frame-25 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-7 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-4 {
  color: darkorange;
}

.lowongan-frame-26 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-6 {
  text-transform: uppercase;
}

.lowongan-line-9 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-8 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-7 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-7 {
  row-gap: 17px;
}

.lowongan-frame-27 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-8 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-5 {
  color: darkorange;
}

.lowongan-frame-28 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-7 {
  text-transform: uppercase;
}

.lowongan-line-10 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-images-9 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  flex-shrink: 0;
}

.lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8 {
  row-gap: 8px;
  column-gap: 8px;
}

.lowongan-t-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-8 {
  row-gap: 4px;
  flex-direction: column;
  flex-shrink: 0;
}

.lowongan-t-frame-61frame-8 {
  row-gap: 17px;
}

.lowongan-frame-29 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  column-gap: 4px;
  padding-bottom: 2px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.lowongan-ellipse-9 {
  flex-shrink: 0;
}

.lowongan-perlu-ditinjau-6 {
  color: darkorange;
}

.lowongan-frame-30 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tinjau-8 {
  text-transform: uppercase;
}

.lowongan-line-11 {
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.lowongan-frame-31 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ff8c0019;
  width: 150px;
  height: 1px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  flex-shrink: 0;
}
@media (min-width: 1914px) {
  .lowongan-tt-frame-136frame-8tframe-136frame {
    flex-wrap: nowrap;
  }
  .lowongan-t-diposting-2hari-yang-lalu-frame {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1tglobal-finance-accounting-internship-ttsolar-buildings-bold-pt-pos-indonesia-tsolar-map-point-bold-bandung-jawa-barat {
    flex-wrap: nowrap;
  }
  .lowongan-frame-10 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-1 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-2 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-3 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-4 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-5 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-6 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-7 {
    flex-wrap: nowrap;
  }
  .lowongan-t-images-1ttahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8 {
    flex-wrap: nowrap;
  }
  .lowongan-tt-ahmad-damha-program-studi-akuntansi-dan-perpajakan-s1tanggal-melamar-12agustus-20241432tframe-61frame-8 {
    flex-wrap: nowrap;
  }
}
