@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500");
@import url("https://api.fontshare.com/css?f[]=inter@400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700");
@import url("https://api.fontshare.com/css?f[]=open sans@400,600,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.common-23,
.lowongan-top-left-border,
.lowongan-dotted-border {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.common-22,
.lowongan-breadcrumb,
.lowongan-frame-6,
.lowongan-frame-7,
.lowongan-frame-8,
.lowongan-frame-9,
.lowongan-frame-10,
.lowongan-frame-11,
.lowongan-frame-12,
.lowongan-frame-13,
.lowongan-frame-14,
.lowongan-frame-15 {
  border-style: solid;
  border-color: gainsboro;
}

.common-12,
.lowongan-t-frame-1,
.lowongan-tt-versi-123beta-mbkm-ulbi {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.common-13,
.lowongan-t-breadcrumb-frame,
.lowongan-t-benefit-yang-ditawarkan-tambah-benefit,
.lowongan-t-frame-5tframe-4frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.common-14,
.lowongan-t-solar-home-smile-angle-bold-chevron-right-text-chevron-right-text,
.lowongan-t-3bulan-solar-alt-arrow-down-outline,
.lowongan-t-full-time-solar-alt-arrow-down-outline,
.lowongan-t-tersedia-solar-alt-arrow-down-outline,
.lowongan-t-umum-solar-alt-arrow-down-outline,
.lowongan-t-06september-2024solar-calendar-bold-duotone,
.lowongan-t-frame-4frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.common-15,
.lowongan-component,
.lowongan-t-line-1,
.lowongan-t-line-2,
.lowongan-t-frame-3,
.lowongan-t-frame-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.common-16,
.lowongan-t-ahmad-damha-pt-pos-indonesia,
.lowongan-tt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan,
.lowongan-tt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.common-17,
.lowongan-t-avvxsejdplsg-8kycc-2lfwocc_wkorqptbjq_udcqwg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w,
.lowongan-t-solar-home-smile-angle-bold-beranda,
.lowongan-t-solar-user-hands-bold-kandidat,
.lowongan-t-solar-medal-star-bold-penilaian,
.lowongan-t-solar-settings-bold-pengaturan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-18,
.lowongan-t-frame,
.lowongan-t-10tahmad-damha-pt-pos-indonesia,
.lowongan-tt-solar-home-smile-angle-bold-beranda,
.lowongan-t-frame-2 {
  display: flex;
  align-items: flex-end;
}

.common-19,
.lowongan-ttt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan,
.lowongan-t-solar-documents-bold-laporan,
.lowongan-frame-3,
.lowongan-ttt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan,
.lowongan-t-solar-question-square-bold-bantuan,
.lowongan-buat-postingan-lowongan-magang,
.lowongan-upload-gambar-lowongan,
.lowongan-benefit-yang-ditawarkan {
  display: flex;
  align-items: center;
}

.common-20,
.lowongan-frame,
.lowongan-frame-4,
.lowongan-frame-5 {
  flex-direction: column;
  justify-content: center;
}

.common-21,
.lowongan-breadcrumb,
.lowongan-frame-1,
.lowongan-frame-8,
.lowongan-frame-9,
.lowongan-frame-13,
.lowongan-frame-14,
.lowongan-frame-15,
.lowongan-frame-16 {
  justify-content: center;
  align-items: center;
}

.common-10,
.lowongan-upload-gambar-lowongan,
.lowongan-judul,
.lowongan-deskripsi-pekerjaan,
.lowongan-durasi,
.lowongan-jenis-pekerjaan,
.lowongan-status,
.lowongan-tipe-lowongan,
.lowongan-batas-akhir-pendaftaran {
  font-size: 14px;
  font-weight: 600;
}

.common-11,
.lowongan-upload,
.lowongan-t-frame-5tframe-4frame {
  font-size: 14px;
  font-weight: 700;
}

.common-1,
.lowongan-frame-2,
.lowongan-frame-5 {
  display: flex;
  background-color: white;
  color: gray;
}

.common-2,
.lowongan-lowongan,
.lowongan-judul,
.lowongan-deskripsi-pekerjaan,
.lowongan-durasi,
.lowongan-jenis-pekerjaan,
.lowongan-status,
.lowongan-tipe-lowongan,
.lowongan-batas-akhir-pendaftaran {
  display: flex;
  width: 100%;
}

.common-3,
.lowongan-bulan,
.lowongan-full-time,
.lowongan-tersedia,
.lowongan-umum,
.lowongan-september {
  display: flex;
  width: 1452px;
}

.common-4,
.lowongan-frame,
.lowongan-lowongan-saya {
  display: flex;
  background-color: midnightblue;
}

.common-5,
.lowongan-breadcrumb,
.lowongan-frame-1,
.lowongan-frame-4,
.lowongan-frame-6,
.lowongan-frame-7,
.lowongan-frame-8,
.lowongan-frame-9,
.lowongan-frame-10,
.lowongan-frame-11,
.lowongan-frame-12,
.lowongan-frame-13,
.lowongan-frame-14,
.lowongan-frame-15,
.lowongan-frame-16 {
  display: flex;
  background-color: white;
}

.common-6,
.lowongan-solar-home-smile-angle-bold,
.lowongan-chevron-right,
.lowongan-chevron-right-1 {
  width: 20px;
  height: 20px;
}

.common-7,
.lowongan-solar-bell-bold,
.lowongan-solar-home-smile-angle-bold-1,
.lowongan-solar-case-round-bold,
.lowongan-solar-user-hands-bold,
.lowongan-solar-medal-star-bold,
.lowongan-solar-documents-bold,
.lowongan-solar-logout-3bold,
.lowongan-solar-settings-bold,
.lowongan-solar-question-square-bold {
  width: 24px;
  height: 24px;
}

.common-8,
.lowongan-solar-alt-arrow-down-bold,
.lowongan-solar-alt-arrow-down-outline,
.lowongan-solar-alt-arrow-down-outline-1,
.lowongan-solar-alt-arrow-down-outline-2,
.lowongan-solar-alt-arrow-down-outline-3,
.lowongan-solar-calendar-bold-duotone {
  width: 16px;
  height: 16px;
}

.common-9,
.lowongan-upload,
.lowongan-publikasikan {
  background-color: midnightblue;
  color: white;
}

.lowongan-lowongan {
  background-color: whitesmoke;
  flex-direction: column;
  padding-bottom: 34px;
  padding-right: 4px;
}

.lowongan-tt-frame-132tframe-102tframe {
  flex-direction: column;
  flex-grow: 1;
  z-index: 0;
  display: flex;
  font-family: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-transform: capitalize;
}

.lowongan-t-frame-132tframe {
  z-index: 2;
  font-size: 14px;
}

.lowongan-frame {
  border-style: solid;
  border-color: orangered;
  border-bottom-width: 8px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 28px;
}

.lowongan-t-breadcrumb-frame {
  row-gap: 20px;
  column-gap: 80px;
  padding-left: 320px;
}

.lowongan-breadcrumb {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 8.5px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 8.5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-solar-home-smile-angle-bold-chevron-right-text-chevron-right-text {
  row-gap: 10px;
  column-gap: 16px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
}

.lowongan-solar-home-smile-angle-bold {
  flex-shrink: 0;
}

.lowongan-chevron-right {
  flex-shrink: 0;
}

.lowongan-text {
  color: darkslateblue;
}

.lowongan-chevron-right-1 {
  flex-shrink: 0;
}

.lowongan-text-1 {
  color: slategray;
}

.lowongan-frame-1 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  column-gap: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-solar-bell-bold {
  flex-shrink: 0;
}

.lowongan-notifikasi {
  font-size: 12px;
  font-weight: 700;
}

.lowongan-solar-alt-arrow-down-bold {
  flex-shrink: 0;
}

.lowongan-t-frame {
  height: 984px;
  padding-right: 1604px;
  flex-shrink: 0;
}

.lowongan-frame-2 {
  align-items: flex-start;
  row-gap: 20px;
  flex-direction: column;
  height: 1080px;
  padding-bottom: 104px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  font-weight: 600;
}

.lowongan-t-avvxsejdplsg-8kycc-2lfwocc_wkorqptbjq_udcqwg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w {
  align-self: stretch;
}

.lowongan-a-vv-xs-ej-dp-lsg-8kyc-c2l-fwo-cc_w-ko-rq-ptb-jq_u-dcq-wg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w {
  background-image: url(public/assets/a-vv-xs-ej-dp-lsg-8kyc-c2l-fwo-cc_w-ko-rq-ptb-jq_u-dcq-wg-wl-aq-vf-9yktzv-4img-7bzw-1vludufmlde-5x-9zmny-jfl-3ebm-49sb-8jdimx-6ppptysrvrmffiwc-6w4ltbyswzghzhku-9zpxlzdmztjyxgedtyjebtja-34lopcm_y-283dwdm-8te-0z-8qwut-1z-4ylkgyw-56i-w.png);
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 55px;
  flex-shrink: 0;
}

.lowongan-t-line {
  align-self: stretch;
  max-width: 268px;
  padding-top: 3px;
}

.lowongan-line {
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-10tahmad-damha-pt-pos-indonesia {
  column-gap: 10px;
  padding-top: 4px;
}

.lowongan-component {
  align-items: flex-end;
  background-image: url(public/assets/component.png);
  background-position: center;
  background-size: cover;
  width: 48px;
  height: 48px;
  padding-bottom: 3px;
  padding-left: 37px;
  padding-right: 3px;
  padding-top: 37px;
  flex-shrink: 0;
}

.lowongan-status-indicator {
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  background-color: limegreen;
  width: 8px;
  height: 8px;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  box-shadow: inset 2px 2px 4px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  flex-shrink: 0;
}

.lowongan-top-left-border {
  box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 1);
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  border-bottom-left-radius: 99px;
}

.lowongan-bottom-right-border {
  box-shadow: -2px -2px 0 0 rgba(255, 255, 255, 1);
  position: absolute;
  left: -2px;
  top: -2px;
  right: 0px;
  bottom: 0px;
  border-bottom-right-radius: 99px;
}

.lowongan-t-ahmad-damha-pt-pos-indonesia {
  row-gap: 4px;
  align-self: stretch;
  text-align: center;
}

.lowongan-ahmad-damha {
  font-weight: 700;
}

.lowongan-pt-pos-indonesia {
  font-size: 12px;
}

.lowongan-tt-solar-home-smile-angle-bold-beranda {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
}

.lowongan-t-solar-home-smile-angle-bold-beranda {
  column-gap: 8px;
}

.lowongan-solar-home-smile-angle-bold-1 {
  flex-shrink: 0;
}

.lowongan-beranda {
  font-weight: 700;
}

.lowongan-lowongan-saya {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  column-gap: 8px;
  align-self: stretch;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 158px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-solar-case-round-bold {
  flex-shrink: 0;
}

.lowongan-lowongan-1 {
  color: white;
}

.lowongan-ttt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan {
  padding-left: 8px;
  padding-right: 8px;
}

.lowongan-tt-solar-user-hands-bold-kandidat-tsolar-medal-star-bold-penilaian-tsolar-documents-bold-laporan {
  row-gap: 28px;
}

.lowongan-t-solar-user-hands-bold-kandidat {
  column-gap: 8px;
  padding-right: 2px;
}

.lowongan-solar-user-hands-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-medal-star-bold-penilaian {
  column-gap: 8px;
}

.lowongan-solar-medal-star-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-documents-bold-laporan {
  column-gap: 8px;
}

.lowongan-solar-documents-bold {
  flex-shrink: 0;
}

.lowongan-t-frame-1 {
  padding-top: 296px;
}

.lowongan-frame-3 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: red;
  column-gap: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 179px;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-solar-logout-3bold {
  flex-shrink: 0;
}

.lowongan-logout {
  color: white;
  font-weight: 700;
}

.lowongan-ttt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan {
  padding-left: 8px;
  padding-right: 8px;
}

.lowongan-tt-solar-settings-bold-pengaturan-tsolar-question-square-bold-bantuan {
  row-gap: 28px;
}

.lowongan-t-solar-settings-bold-pengaturan {
  column-gap: 8px;
}

.lowongan-solar-settings-bold {
  flex-shrink: 0;
}

.lowongan-t-solar-question-square-bold-bantuan {
  column-gap: 8px;
}

.lowongan-solar-question-square-bold {
  flex-shrink: 0;
}

.lowongan-t-line-1 {
  align-self: stretch;
  max-width: 268px;
  padding-top: 11px;
}

.lowongan-line-1 {
  height: 1px;
  flex-shrink: 0;
}

.lowongan-tt-versi-123beta-mbkm-ulbi {
  align-self: stretch;
  padding-top: 12px;
}

.lowongan-versi-123beta-mbkm-ulbi {
  text-align: center;
  padding-right: 14px;
}

.lowongan-t-frame-2 {
  height: 649px;
  padding-left: 352px;
  padding-right: 12px;
  justify-content: flex-end;
  z-index: 1;
  flex-shrink: 0;
}

.lowongan-frame-4 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: flex-start;
  row-gap: 4px;
  flex-grow: 1;
  height: 1609px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.1)),
    drop-shadow(0px 1px 2px rgba(12, 12, 13, 0.05));
}

.lowongan-buat-postingan-lowongan-magang {
  font-size: 20px;
  font-weight: 700;
}

.lowongan-t-line-2 {
  align-self: stretch;
  padding-top: 19px;
}

.lowongan-line-2 {
  height: 1px;
  flex-shrink: 0;
}

.lowongan-t-upload-gambar-lowongan {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-frame-5 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  row-gap: 8px;
  align-self: stretch;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  text-align: center;
}

.lowongan-dotted-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='rgba(226%2c226%2c226%2c1)' stroke-width='2' stroke-dasharray='2%2c2' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.lowongan-silahkan-drag-and-drop-atau-klik-tombol-di-bawah-ini-untuk-mengunggah-logo-perusahaan {
  align-self: stretch;
}

.lowongan-format-png-jpg-2mb-maks-512x-512px {
  align-self: stretch;
}

.lowongan-upload {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.lowongan-t-judul {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-judul {
  align-items: center;
}

.lowongan-frame-6 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-global-finance-accounting-internship {
  flex-grow: 1;
  display: flex;
  outline: none;
  min-width: 0px;
}

.lowongan-t-deskripsi-pekerjaan {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-deskripsi-pekerjaan {
  align-items: center;
}

.lowongan-frame-7 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-as-aglobal-finance-accounting-intern-at-eiger-your-mission-is-to-support-our-finance-and-accounting-team-in-various-functions-including-financial-analysis-reporting-and-compliance-you-will-gain-practical-experience-in-managing-financial-data-contributing-to-budgeting-processes-and-ensuring-accurate-financial-records-this-internship-offers-aunique-opportunity-to-develop-your-skills-and-knowledge-in-aglobal-retail-environment-preparing-you-for-asuccessful-career-in-finance-and-accounting-what-you-ll-need-to-success-final-semester-students-or-recently-completed-adegree-in-accounting-or-arelated-field-strong-analytical-skills-with-the-ability-to-interpret-financial-data-someone-who-is-confident-proactive-attitude-enthusiasm-for-learning-and-communicative-in-conveying-something-orally-or-in-writing-work-placement-at-the-head-office-of-kab-bandung-west-java-interest-in-the-retail-industry-and-eiger-sbrand-kompetensi-yang-akan-dikembangkan-administrasi-komunikasi-analisis-data-kerjasama-tim-pengelolaan-waktu-pemahaman-lingkungan-bisnis-problem-solving-analisis-keuangan-keahlian-teknologi-kemampuan-beradaptasi-operasional-kriteria-akademik-mahasiswa-perguruan-tinggi-aktif-minimal-semester-6program-studi-yang-diutamakan-akuntansi-dan-perpajakan-ekonomi {
  flex-grow: 1;
}

.lowongan-spacer {
  height: 18px;
}

.lowongan-spacer-1 {
  height: 18px;
}

.lowongan-list {
  list-style-type: decimal;
}

.lowongan-list-1 {
  list-style-type: disc;
}

.lowongan-spacer-2 {
  height: 18px;
}

.lowongan-list-2 {
  list-style-type: decimal;
}

.lowongan-list-3 {
  list-style-type: disc;
}

.lowongan-t-durasi {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-durasi {
  align-items: center;
}

.lowongan-frame-8 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-3bulan-solar-alt-arrow-down-outline {
  flex-grow: 1;
}

.lowongan-bulan {
  flex-shrink: 0;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.lowongan-solar-alt-arrow-down-outline {
  flex-shrink: 0;
}

.lowongan-t-jenis-pekerjaan {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-jenis-pekerjaan {
  align-items: center;
}

.lowongan-frame-9 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-full-time-solar-alt-arrow-down-outline {
  flex-grow: 1;
}

.lowongan-full-time {
  flex-shrink: 0;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.lowongan-solar-alt-arrow-down-outline-1 {
  flex-shrink: 0;
}

.lowongan-t-benefit-yang-ditawarkan-tambah-benefit {
  row-gap: 9px;
  column-gap: 80px;
  align-self: stretch;
  padding-top: 20px;
  font-weight: 600;
}

.lowongan-benefit-yang-ditawarkan {
  font-size: 14px;
}

.lowongan-tambah-benefit {
  color: midnightblue;
}

.lowongan-frame-10 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-gaji-pokok-per-bulan-rp {
  flex-grow: 1;
}

.lowongan-t-frame-3 {
  align-self: stretch;
  padding-top: 4px;
}

.lowongan-frame-11 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-tunjangan-kesehatan {
  flex-grow: 1;
}

.lowongan-t-frame-4 {
  align-self: stretch;
  padding-top: 4px;
}

.lowongan-frame-12 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-transportasi {
  flex-grow: 1;
}

.lowongan-t-status {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-status {
  align-items: center;
}

.lowongan-frame-13 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-tersedia-solar-alt-arrow-down-outline {
  flex-grow: 1;
}

.lowongan-tersedia {
  flex-shrink: 0;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.lowongan-solar-alt-arrow-down-outline-2 {
  flex-shrink: 0;
}

.lowongan-t-tipe-lowongan {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-tipe-lowongan {
  align-items: center;
}

.lowongan-frame-14 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-umum-solar-alt-arrow-down-outline {
  flex-grow: 1;
}

.lowongan-umum {
  flex-shrink: 0;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.lowongan-solar-alt-arrow-down-outline-3 {
  flex-shrink: 0;
}

.lowongan-t-batas-akhir-pendaftaran {
  align-self: stretch;
  padding-top: 20px;
}

.lowongan-batas-akhir-pendaftaran {
  align-items: center;
}

.lowongan-frame-15 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-self: stretch;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lowongan-t-06september-2024solar-calendar-bold-duotone {
  flex-grow: 1;
}

.lowongan-september {
  flex-shrink: 0;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.lowongan-solar-calendar-bold-duotone {
  flex-shrink: 0;
}

.lowongan-t-frame-5tframe-4frame {
  row-gap: 19px;
  column-gap: 24px;
  align-self: stretch;
  padding-right: 2px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.lowongan-batal {
  color: white;
  background-color: red;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.lowongan-t-frame-4frame {
  row-gap: 19px;
  column-gap: 24px;
}

.lowongan-frame-16 {
  border-style: solid;
  border-color: midnightblue;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 7px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.lowongan-pratinjau {
  color: midnightblue;
}

.lowongan-publikasikan {
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.lowongan-frame-6:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-global-finance-accounting-internship::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}

.lowongan-frame-8:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-bulan::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}

.lowongan-frame-9:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-full-time::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}

.lowongan-frame-13:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-tersedia::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}

.lowongan-frame-14:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-umum::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}

.lowongan-frame-15:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.lowongan-september::placeholder {
  text-transform: capitalize;
  color: #262d3d;
}
@media (min-width: 1914px) {
  .lowongan-t-breadcrumb-frame {
    flex-wrap: nowrap;
  }
  .lowongan-t-solar-home-smile-angle-bold-chevron-right-text-chevron-right-text {
    flex-wrap: nowrap;
  }
  .lowongan-t-3bulan-solar-alt-arrow-down-outline {
    flex-wrap: nowrap;
  }
  .lowongan-t-full-time-solar-alt-arrow-down-outline {
    flex-wrap: nowrap;
  }
  .lowongan-t-benefit-yang-ditawarkan-tambah-benefit {
    flex-wrap: nowrap;
  }
  .lowongan-t-tersedia-solar-alt-arrow-down-outline {
    flex-wrap: nowrap;
  }
  .lowongan-t-umum-solar-alt-arrow-down-outline {
    flex-wrap: nowrap;
  }
  .lowongan-t-06september-2024solar-calendar-bold-duotone {
    flex-wrap: nowrap;
  }
  .lowongan-t-frame-5tframe-4frame {
    flex-wrap: nowrap;
  }
  .lowongan-t-frame-4frame {
    flex-wrap: nowrap;
  }
}
